<mat-card class="user-details-card">
  <mat-card-header>
    <mat-card-title>Bio Data</mat-card-title>
    <mat-card-subtitle>Name: {{ user.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Phone: {{ user.phone }}</p>
    <p>Email: {{ user.email }}</p>
    <p>
      Website: <a href="user.website">{{ user.website }}</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="user-details-card">
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
    <mat-card-subtitle>City: {{ user.address.city }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Street: {{ user.address.street }}</p>
    <p>Suite: {{ user.address.suite }}</p>
    <p>Zipcode: {{ user.address.zipcode }}</p>
    <p>
      Latitude: {{ user.address.geo.lat }} <br />
      Longitude: {{ user.address.geo.lng }}
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="user-details-card">
  <mat-card-header>
    <mat-card-title>Company</mat-card-title>
    <mat-card-subtitle>Company Name: {{ user.company.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Catch Phrase:</strong> {{ user.company.catchPhrase }}</p>
    <p>BS: {{ user.company.bs }}</p>
  </mat-card-content>
</mat-card>

<div class="user-albums-list">
  <h2>{{ user.name.split(" ")[0].toUpperCase() }}'S ALBUMS</h2>
  <mat-list *ngFor="let album of userAlbums | async">
    <div class="album-list" (click)="openAlbumPhotos(album.id)">
      <span>ALBUM ID: {{ album.id }}</span
      ><br />
      <span><strong>TITLE:</strong> {{ album.title }}</span>
    </div>
    <hr />
  </mat-list>
</div>
