<div class="grid-container">
  <h1 class="mat-h1">Users</h1>
  <mat-grid-list cols="3" rowHeight="330px">
    <mat-grid-tile
      *ngFor="let user of users | async"
      [colspan]="3"
      [rowspan]="1"
    >
      <mat-card class="dashboard-card" (click)="userDetails(user.id)">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image">
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
          </div> -->
          <mat-card-title>{{ user.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <!-- <mat-icon>mail</mat-icon> -->
            <strong>Nickname:</strong><br />
            {{ user.username }}
          </p>
          <p>
            <!-- <mat-icon>mail</mat-icon> -->
            <strong>Email:</strong><br />
            {{ user.email }}
          </p>
          <p>
            <!-- <mat-icon>mail</mat-icon> -->
            <strong>Phone:</strong><br />
            {{ user.phone }}
          </p>
          <p>
            <!-- <mat-icon>mail</mat-icon> -->
            <strong>Website:</strong><br />
            {{ user.website }}
          </p>
          <p>
            <!-- <mat-icon>mail</mat-icon> -->
            <strong>Album Count:</strong>{{user.albCnt ||10 }}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
